<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Base Page</title>
    {% endblock %}
</head>
<body>
    <h3>Why is HTML used? </h3>
    <p>HTML is used to provide structure to a webpage and make it accessible to users of the internet through text, visual formatting and search factors. It is commonly known as the most basic building block of the web, working alongside CSS and JavaScript to create the websites we see while browsing.</p>

    {% block content %}
    <p> this is base page... ftryk f689 tryfughij detrfyguh</p>
    {% endblock %}
</body>
</html>